Package: uni-os-build-conflicts
Version: PKG_VER
Architecture: all
Maintainer: Yamato Tanikawa <kanikama_pc@outlook.jp>
Conflicts: desktop-base, gnome-control-center, gnome-firmware, lxde-icon-theme, mlterm, mlterm-tiny, software-properties-common, yelp
Section: unknown
Priority: optional
Description: DO NOT INSTALL ON A NORMAL SYSTEM!
